@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.header {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1; */
  font-size: 1.3rem;
  /* background-color: var(--bg-color); */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height : 50px;
}

.page-profile-link {
  margin-left: 4.1em;
  text-decoration: none;
}

.page-profile {
  display: inline-flex;
  align-items: center;
  max-width: max-content;
  cursor: pointer;
  color: #000;
}

.page-profile-logo {
  width: 3.5em;
  margin-right: 0.5em;
}

.page-profile-title {
  font-size: 1.4rem;
}

@media (max-width: 1200px) {
  .page-profile-link {
    margin-left: 1em;
  }
}

@media (max-width: 700px) {
  .page-profile-link {
    margin-left: 0.8em;
  }

  .header {
    padding-top: 1em;
  }
}

.nav-image {
  height: 10rem;
  padding: 2px;
  z-index: 5;
  position: fixed;
  top: 2.25rem;
  left: 2.25rem;
  box-shadow: 5px 5px 10px #000;
}

.pull-right {
  float: right !important;
}

.ombre-header {
  background-image: linear-gradient(
    var(--primary-color),
    var(--medium-primary-color),
    var(--light-primary-color),
    var(--ultra-light-primary-color)
  );
  background-color: blue;
  width: fit-content;
  height: 40rem;
  z-index: 2;
}
